[Unit]
Description=Matchmaking server
After=syslog.target
[Service]
Type=simple
User=matchmaking
Group=matchmaking
WorkingDirectory=/home/matchmaking/BottleHoser/
ExecStart=/home/matchmaking/BottleHoser/launch.sh
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=multi-user.target